*,*::before,*::after {
  box-sizing: border-box;
}

/* 디바이스 기본스타일 초기화 */
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) { cursor: pointer; }
div.conv-form-wrapper * { scrollbar-width: none; -ms-overflow-style: none; }
button, [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }
button, [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }
button, select { text-transform: none; }
button, input { overflow: visible; }
input, button, select, optgroup, textarea { margin: 0; font-family: inherit; font-size: inherit; line-height: inherit; }	
button, [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }
button, select { text-transform: none; }
button, input { overflow: visible; }

body{
	margin: 0;
	font-family: 'Noto Sans KR', sans-serif;
	background:#fff;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.6;
	color: #333;
}
img{
	max-width: 100%;
}
body,html{
	scroll-behavior: smooth;
}
.header{
	position: fixed;
	left: 0;
	top:0;
	width: 100%;
	z-index: 100;
	padding: 20px;
}

.main_nav ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.main_nav ul li{
	display: inline-block;
	margin: 0 0 0 20px;
	font-size: 16px;
}
.main_nav ul li a{
	color: #fff;
	transition: all 0.3s ease-out;
	text-decoration:none;
}
.main_nav ul li:hover a{
	color: #f12626;
}

/*banner*/
.banner{
	background-color:#0021a7;
	background-blend-mode: darken;
	min-height: 100vh;
	position: relative;
	background-size: cover;
	color: #fff;
	padding: 100px 50px 100px 0;
}
.banner h1{
	font-size: 60px;
	color: #fff;
	font-weight: 700;
}
.socila_links{
	position: absolute;
	right: 20px;
	top:50%;
	transform: translateY(-50%);
	padding: 0;
	margin: 0;
	list-style: none;
	font-size:22px;
}
.socila_links li{
	margin: 10px 0;
}
.socila_links li a{
	color: #fff
}
.socila_links li a:hover{
	color: #f12626
}
.banner_cont{
	padding: 30px;
	background:rgba(0,0,0,.6);
	transform: scaleY(0);
	animation:1s scaleAnim 1s;
	opacity: 0;
	animation-fill-mode: forwards;
}
@keyframes scaleAnim{
	0%{transform: scaleY(0); opacity: 0;}
	100%{transform: scaleY(1); opacity: 1; }
}

/*about-section*/
.about-section{
	background-color: #010519;
	padding: 80px 20px;
	color: #fff;		
}
.about-section h2{
	font-size: 40px;
	color: #fff;
	margin: 0 0 30px;
}
.bdr-btm{
	position: relative;
	padding-bottom: 15px;
}
.bdr-btm:after{
	content: "";
	width: 50px;
	height: 3px;
	background-color: #f12626;
	position: absolute;
	left: 0;
	top: 100%;
}
.bdr-btm.bdr-btm-center:after{
	left: 50%;
	margin-left: -25px;
}
.btn1{
	border: 0px;
	display: inline-block;
  color: white;
  background: #020f46;
  padding: 11px 25px;
  margin: 0 0 15px 0;
  font: 14px/20px "Open Sans", sans-serif;
  height: 42px;
  outline: none;
  width: auto;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
}
.about-box{
	background: #020f46;
	padding: 30px;
}
.about-box ul{
	padding-left: 15px;
}
.about-box ul li{
	margin-bottom: 20px;
}
.about-box h3{
	margin-bottom: 20px;
}


/*portfolio-section*/
.portfolio-section{
	padding: 80px 0;
	background-color: #000
}
.portfolio-section h2{
	font-size: 40px;
	color: #fff;
	margin: 0 0 30px;
}
.portfolio-box{
	padding-bottom: 70%;
	background-size: cover;
	background-position: center center;
	margin:30px 15px 30px;
	transition: all 0.3s ease-out;
	background-blend-mode: darken;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.portfolio-box:hover{
	background-color:#0021a7;
}
.portfolio-box h3 {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	color: #fff;
	transition: all 0.3s ease-out;
	transform: scale(5);
	opacity: 0;
	pointer-events: none;
}
.portfolio-box:hover h3{
	transform: scale(1);
	opacity: 1;
}
#port_pop_pic_bg{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: rgba(0,0,0,0.8);
	opacity: 0;
	transition: all 0.3s ease-out; 
	pointer-events: none;
}
#port_pop_pic_bg.active{
	opacity: 1;
	pointer-events: auto;
}
#port_pop_pic{
	position: fixed;
	left: 100px;
	top: 100px; 
	width: calc(100% - 200px);
	height: calc(100% - 200px);
	z-index: 1000;
	transform: scale(0);
	transition: all 0.3s ease-out; 
	background-size: cover;
	background-position: center center;
}
#port_pop_pic.active{
	transform: scale(1);
}

/*contact-section*/
.contact-section {
  background:#010519;
  color: #fff; 
}
.contact_section_left {
  padding: 40px 0; 
}
.contact_box{
  padding: 0 50px;
  margin-bottom: 30px;
}
.contact_box:last-child {
  margin-bottom: 0px;
}
.contact_box h3 {
  color: #fff;
  margin-bottom: 10px;
}
.contact_box i.fa {
  color: #fff;
  font-size: 30px;
  display: block;
  padding: 0 0 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #fff; 
}
.contact_section_right {
	padding: 40px 0; 
	background-color:  #020f46
}
.contact_section_right h2 {
  color: #fff; 
  margin-bottom: 30px;
}
input:not([type="submit"]),
textarea{
	border: 1px solid #abb3c0;
	color: #667080;
	padding: 10px 16px;
	margin: 0 0 15px 0;
	font: 14px/22px "Open Sans", sans-serif;
	background-color: white;
	height: 42px;
	outline: none;
	width: 100%;
	text-align: left;
	border-radius: 4px;
}
textarea{
	height: 80px
}
input[type="submit"]{
	border: 0px;
  color: white;
  background: #010519;
  padding: 11px 25px;
  margin: 0 0 15px 0;
  font: 14px/20px "Open Sans", sans-serif;
  height: 42px;
  outline: none;
  width: auto;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
}


/*ChatBot*/
.chat_box{
	background:#efefef;
	transition: all 0.3s ease-out;
	display: none;
}

.chat_box.active {
	display: block;
}

div.conv-form-wrapper.type2 div#messages div.message.to {
	background: #fff;
    color: #333;
}

div.conv-form-wrapper.type2 div#messages div.message.from {
	background: #02a5af;
}

div.conv-form-wrapper.type2 div.options div.option {
	color: #02a5af;
	border: 1px solid #02a5af;
}

div.conv-form-wrapper.type2 div.options div.option:last-child {
	margin-right: 50px;
}

div.conv-form-wrapper div.options div.option.selected {
	color:#fff;
}

div.conv-form-wrapper div#messages{
	padding: 20px;
	bottom: 100px;
}
.my-conv-form-wrapper textarea{
	height: 30px;
	overflow: hidden;
	resize: none;
}
.hidden{
	display: none !important;
}

/* 결과화면 */
.result_box {
	display: none;
}

.result_box.active {
	display: block;
}

/* 라이브러리 custom */
div.conv-form-wrapper:before {
	display: none !important;
}

form.convFormDynamic.type2 {
    width: unset;
    margin: 10px auto 0px;
    padding: 0 !important;
	position: fixed;
	bottom:0;
    box-shadow: unset;
	background-color: whitesmoke;
	border-top : 1px solid #e6e6e6;
}

div.conv-form-wrapper div#messages div.message,
div.conv-form-wrapper div.options div.option {
	font-size: 1.1rem !important;
}

div.conv-form-wrapper div.options {
	background-color: whitesmoke !important;
	transform: translateY(57px) !important;
	z-index: 100 !important;
}

form.convFormDynamic button.submit.type2 {
    position: relative;
    z-index: 200;
}

/* chatbot character
div.conv-form-wrapper div.message.done:first-child::before {
	content: '';
    width: 40px;
    height: 40px;
    background: white;
    display: inline-block;
    position: absolute;
    left: 10px;
    border-radius: 50%;
    top: 20px;
	background: url(../images/bot1.png) no-repeat;
    background-size: cover;
	background-position: center;
}*/
